.root {
    -fx-background-color: "#4169e1";
}

.label {
    -fx-text-fill: "white";
    -fx-font-size: 32;
    -fx-alignment: center;
}

.button {
    -fx-background-color: "white";
    -fx-border-color: "transparent";
    -fx-font-size: 18;
    -fx-text-fill: "#4169e1";
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}

#selectedButton {
    -fx-background-color: "transparent";
    -fx-text-fill: "white";
    -fx-font-weight: bold;
}

#unselectedButton {
    -fx-background-color: "transparent";
    -fx-text-fill: "gray";
}